<%- title "About Spencer" -%>
<%- content_for(:head) do -%>
  <meta name="description" content="#">
  <link rel="canonical" href="<%= categories_url %>">
  <meta property="og:description" content="#">
  <meta property="og:title" content="About Spencer | SpencerMontgomery.com">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= categories_url %>">
<%- end -%>
<section id="post">
  <article id="about" class="about">
  <h1>Spencer Montgomery</h1>
  <h2></h2>
  <p>I'm a self directed, self taught web developer and aspiring entrepreneur with a focus on social and environmental justice and sustainability.  I recently spent 6 months teaching myself Ruby on Rails, and after honing my web dev skills, I've been exploring  I have a passion for learning,exploring and personal growth.  Aside from my professional apsirations, you can find me rock climbing, mountain biking, running, birding, hiking or some other kind of outdoor endevour.  Check out some of my <%= link_to 'work', 'https://github.com/smontgo5' %>.</p>

  
  
  <p><%= mail_to "smontgo5@gmail.com", 'Contact me.' %></p>
</article>
</article>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44003912-1', 'spencermontgomery.com');
  ga('send', 'pageview');

</script>