<aside>
  <div id="bio">
    <%= link_to root_path, title: "Home" do %>
      <img src="http://s11.postimg.org/naypaxdwz/314635_183650365051817_430582243_n.jpg" alt="Spencer Montgomery">
    <% end %>
    <h1><%= link_to 'Spencer Montgomery', root_path, title: "Home" %></h1>
    <h2>Software Entrepreneur</h2>
    <ul class="inline contact-icons">
      <li><a href="mailto:smontgo5@gmail.com" rel="author" title="email"><i class="general foundicon-mail"></a></i></li>
      <li><a href="https://github.com/smontgo5" rel="author" title="Github"><i class="social foundicon-github"></a></i></li>
      <li><a href="https://twitter.com/smontgo5" rel="author" title="Twitter"><i class="social foundicon-twitter"></a></i></li>
      <li><a href="http://www.linkedin.com/pub/spencer-montgomery/68/975/a99" rel="author" title="LinkedIn"><i class="social foundicon-linkedin"></a></i></li>
    </ul>
  </div>
  <div id="about">
    <%= link_to about_path, title: "About Spencer Montgomery" do %>
      <span>About Spencer</span>
      <i class="general-enclosed foundicon-plus"></i>
    <% end %>
  </div>
</aside>